<div id="start-game" class="modal show">
  <div class="modal-title">WELCOME</div>
  <div id="start" class="btn">START</div>
</div>

<div id="gameover" class="modal hide">
  <div class="modal-pane">
    <div class="modal-title">GAME OVER</div>
    <div id="restart" class="btn">RETRY</div>
    <form id="points-submit-form" action="" method="post">
      <input type="text" placeholder="Enter your nickname">
      <input type="hidden">
      <input type="submit">
    </form>
  </div>
  <div class="modal-pane">
    <div class="modal-title">
      Leaderboard
    </div>
    <table id="leaderboard"></table>
  </div>
</div>

<div id="timer"></div>
<canvas id="game-background"></canvas>
<canvas id="game-canvas"></canvas>

<%= javascript_include_tag "supersonic_paper_plane/group.js" %>
<%= javascript_include_tag "supersonic_paper_plane/utils.js" %>
<%= javascript_include_tag "supersonic_paper_plane/pooling.js" %>
<%= javascript_include_tag "supersonic_paper_plane/movingObject.js" %>
<%= javascript_include_tag "supersonic_paper_plane/asteroid.js" %>
<%= javascript_include_tag "supersonic_paper_plane/bullet.js" %>
<%= javascript_include_tag "supersonic_paper_plane/ship.js" %>
<%= javascript_include_tag "supersonic_paper_plane/boid.js" %>
<%= javascript_include_tag "supersonic_paper_plane/weaponary.js" %>
<%= javascript_include_tag "supersonic_paper_plane/invincible.js" %>
<%= javascript_include_tag "supersonic_paper_plane/all_dir_fire.js" %>
<%= javascript_include_tag "supersonic_paper_plane/timer.js" %>
<%= javascript_include_tag "supersonic_paper_plane/game.js" %>
<%= javascript_include_tag "supersonic_paper_plane/game_bg.js" %>
<%= javascript_include_tag "supersonic_paper_plane/gameView.js" %>

<script>
  var canvasEl = document.getElementById("game-canvas");
  canvasEl.height = window.innerHeight * 0.9;
  canvasEl.width = window.innerWidth * 0.98;

  var backgroundCanvas = document.getElementById("game-background");
  backgroundCanvas.height = window.innerHeight;
  backgroundCanvas.width = window.innerWidth;

  var gameView = new SupersonicPaperPlane.GameView(
                       canvasEl.height,
                       canvasEl.width,
                       backgroundCanvas.height,
                       backgroundCanvas.width
                     );

  var startBtn = document.getElementById('start');
  startBtn.addEventListener('click', start);

  var restartBtn = document.getElementById("restart");
  restartBtn.addEventListener('click', restart);

  var pointsForm = document.getElementById("points-submit-form");
  pointsForm.addEventListener('submit', submitPoints);

  function start() {
    var modal = document.getElementById('start-game');
    modal.classList.remove('show');
    modal.classList.add('hide');
    startGame();
  }

  function restart() {
    var modal = document.getElementById("gameover");
    modal.classList.remove("show");
    modal.classList.add("hide");
    startGame();
  }

  function startGame() {
    // var timerDiv = document.getElementById("timer");
    gameView.start(canvasEl, backgroundCanvas);
  }

  function submitPoints(e) {
    e.preventDefault();
    var nickname = e.currentTarget.elements[0].value;
    $.ajax({
      url: '/api/supersonic_paper_plane/new_point',
      type: 'post',
      dataType: 'json',
      data: {
        nickname: e.currentTarget.elements[0].value,
        points: e.currentTarget.elements[1].value
      },

      success: function (respData) {
        updateLeaderboard(respData);
      }
    });
  }

  function updateLeaderboard(data) {
    var records = data.map(function (record) {
      return "<tr><td>" + record.name + "</td>" + "<td>" + record.score + "</td></tr>";
    }).join("");

    $("#leaderboard").html(
      "<tr><th>Nickname</th><th>Score</th></tr>" + records
    );
  }

  function fetchLeaderboard() {
    $.get(
      "/api/supersonic_paper_plane/index",
      function (respData) {
        updateLeaderboard(respData);
      }
    );
  }

  fetchLeaderboard();
  // startGame();
</script>
